/* ====== 공통 css =====*/
*{padding: 0px; margin: 0px;} /* 기본 여백 제거 */
*{box-sizing: border-box;} /* 테두리까지 사이즈 계산 */
a{text-decoration: none; color: black;} /* a마크업 기본값 제거 */
li{list-style-type: none;} /* 글머리 제거 */

/* ====== 헤더 css =====*/
#header{
    width: 1280px; /* 가로 사이즈 */
    margin: 0 auto; /* 구역 가로 가운데 정렬 */
    display: flex; /* 하위 요소 배치 방법 */
    justify-content: space-between; /* 양끝 여백없이 균등정렬*/
    align-items: center; /* 세로 정렬 */
}
#header>.menu > ul{ /* #아이디 , .클래스 , 마크업 */
    display: flex; justify-content: flex-end;
}
.topmenu>li{
    font-size: 12px ; margin: 10px 3px; }

.mainmenu>li{ 
    font-size: 20px; font-weight: bold; 
    margin: 10px 0px 30px 80px ; /* 바깥여백 : 위 오른쪽 아래 왼쪽 순서 */
}

#mainimg>img{
    width: 100%;
}

/* ====== 본문 css =====*/
#main{
    width: 1280px; margin: 20px auto;
    display: flex; justify-content: space-between;
}

#main>.sidebar{width: 250px;}
#main>.content{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

#main> .content> .left, .right{width: 495px;}

/* ====== 본문 사이드바 css =====*/
.sidebar > .title{
    background-color: #0ca9a2; color: white;
    font-size: 20px; padding: 10px;}

.sidebar>.comment{padding: 5px 0px; line-height: 150%;}
.sidebar>.searchbox > input{
    border-radius: 10px;
    padding: 5px;
    width: 180px;
}
.sidebar>.searchbox>button{padding: 4px;}
.sidebar>.subtitle{
    border-top: 2px solid black;
    border-bottom: 1px solid lightgrey;
    margin-top: 30px;
    font-size: 18px;
    padding: 10px;
}
.sidebar>.submenu>li{padding: 5px;}

/* ====== 본문 게시판 css =====*/
.content .subtitle{
    border-bottom: 2px solid black;
    padding-inline-start: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.content .board>li{
    display: flex; justify-content: space-between;
    padding: 7px 0px;
}
.content .board{margin-bottom: 50px;}

/* ====== 본문 이미지 css =====*/
.right > .productlist{
    display: flex;
    flex-wrap: wrap;
}

.right > .productlist > .product{
    margin: 0px 10px 0px;
}

#footer{
    background-color:rgb(20, 36, 61);
    color: white; padding: 20px 0px;
}

#footer>.footerinner{
    width: 1280px; margin: 0 auto;
}

#footer>.footerinner>.ftopmenu{
    display: flex;
    padding: 20px 0px;
    margin-bottom: 30px;
}

.ftopmenu>li{
    margin-right: 30px;
}

#footer>.footerinner>.fbottomenu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.fbottomenu h3{margin-bottom: 10px;}
.fbottomenu > ul > li {margin: 5px 0px;}