
.box{
    border: 1px solid red;
    width: 100px; padding: 10px;
}

.flexbox{
    display: flex;
    border: 1px solid blue;
    width: 200px;
    /* 기본값 : 하위 요소가 넘치면 자동으로 하위 요소 크기 ㅈ정 */
    flex-wrap: nowrap;
} 

.flexbox2{
    border: 1px solid blue;
    width: 250px;
    display: flex; flex-wrap: wrap;
}

.flexbox3{
    border: 1px solid blue;
    display: flex;
    /* row(기본값) : 하위 요소 가로 배치 */
    flex-direction: row;
}

.flexbox4{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

.flexbox5{
    border: 1px solid blue;
    display: flex;
    justify-content: flex-start;
}

.flexbox6{
    border: 1px solid blue;
    display: flex;
    justify-content: flex-end;
}

.flexbox7{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
}

.flexbox8{
    border: 1px solid blue;
    display: flex;
    /* 양끝에 여백없이 사이 (자동) 여백 균등 가로 정렬 */
    justify-content: space-between;
}

.flexbox9{
    border: 1px solid blue;
    display: flex;
    /* 사이 여백의 50%을 양끝 여백으로 자동 균등 가로 정렬 */
    justify-content: space-around;
}

.flexbox10{
    border: 1px solid blue;
    display: flex;
    /* 양끝 여백과 사이 여백(자동) 균등 가로 정렬 */
    justify-content: space-evenly ;
}