body{
    background-color: pink;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.no7{
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid white;
    width: 180px; margin: 10px 0px;
}

.jjangimg>img{
    width: 150px;
    margin: 20px;
    border-radius: 150px;
}

.conten{
    font-weight: bold;
    font-size: 13px;
}

.list{margin: 20px 0px;}
.list>div{
    background-color: skyblue;
    border-radius: 5px;
    padding: 8px;
    font-size: 12px;
    margin: 10px;
}

/* a 마크업은 기본값으로 밑줄과 파란색 글꼴이 기본으로 들어감 */

a{
    color: white;
    text-decoration: none;
}