body{
    background-color: #F2F3F5;
}

.whole{
    display: flex;
    flex-direction: row;
    padding: 0px 200px;
}

.content{
    margin: 150px
}

.facebook{
    color: #0866ff;
    font-size: 50px;
}

.explain{
    font-size: 20px;
    font-weight: normal;
}

.idpw{
    border-radius: 8px;
    width: 300px; height: 270px;
    box-shadow: 0px 5px 5px lightgrey;
    text-align: center;
    padding: 10px;
    background-color: white;
    margin-top: 130px;
}

.login>input{
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    width: 270px;
    margin-bottom: 10px;
    margin-botto;
}

.button1{
    border-radius: 5px;
    width: 290px;
    padding: 8px;
    background-color: #0866ff;
    color: white;
    font-weight: bold;
    border: none;
}

.button2{
    border-radius: 5px;
    font-size: 13px;
    margin-top:;
    padding: 10px;
    background-color: #42b72a;
    color: white;
    font-weight: bold; 
    text-decoration: none;
}

.forget>a{
    text-decoration: none;
    color: #0866ff;
    font-weight: bold;
}

.page{
    font-weight: normal;
    text-align: center;
}

.page>a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}