*{
    box-sizing: content-box;
    font-family: 나눔고딕;
    font-size: 10px;
    padding: 0px; margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

*{
    border: 1px solid red;
    padding: 2px;
}

#header .top{
    display: flex;
    justify-content: flex-end;
    border-right: 1px solid #eeeeee;
}

#header .top li{
    margin-left: 5px;
}

#header .bottom{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

#header .bottom li a{
    margin-left: 30px;
    font-size: 20px; font-weight: bold;
}