
/* 복수 선택자 : 선택자A, 선택자B */
#header, #main, #footer{
    width: 1280px; /* pc 1000~1400 */
    margin: 0 auto;
}

/* 하위 요소를 배치하는 방법 : flex */
#main{
    display: flex;
    flex-direction: row; /* 가로배치 (기본값) */
    flex-wrap: nowrap; /* 줄바꿈x */
    justify-content: space-between; /* 양끝에 여백 없이 */
}

#content{ /* 높이는 내용물만큼 자동 크기 100%*/
    width: 830px /* 크기 : px(픽셀/고정), %(비율/반응형) */
}

#sidebar{
    width: 420px;
}

#footer{
    background-color: grey;
}