
*{box-sizing: border-box;}
a{text-decoration: none; color: black;}
li{list-style-type: none;}

#header>ul{
    display: flex; justify-content: flex-end;
    padding: 5px; margin: 0 auto;
    border-bottom: 1px solid lightgrey;
    font-size: 12px;
}

.top>li{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
}

.icon{
    padding-left: 15px;
}

.logo{
    padding: 30px;
}

.logo>img{
    width: 150px;
}

#bottom{
    display: flex;
    align-items: center;
}

#bottom>ul{
    display: flex;
    padding: 10px;
}

.menu>li{
    padding-right: 40px;
    font-size: 12px;
}

.made, .bigsize{
    position: relative;
}

.submenu{
    position: absolute;
    padding: 5px;
    display: none;
    background-color: white;
    width: 100px; height: 130px;
    padding-top: 30px;
}

.submenu>li{
    margin-top: 5px;
    text-align: center;
}

.made:hover .submenu{display: block;}
.bigsize:hover .submenu{display: block;}

.text{
    border: 1px solid white;
    border-bottom: 1px solid black;
}

.search{
    border-bottom: 1px solid black;
    margin-left: 450px;
}
.search>input{border:none; padding: 5px; width: 130px; background-color: rgba(255, 255, 255, 0);}
.search>img{width: 15px;}

#main>.title{
    text-align: center;
}

.comment{
    text-align: center;
    font-size: 10px;
    margin: 20px 0px;
    color: #999999;
}

#items> #item{
    width: 360px; margin: 20px 0px;
    font-size: 10px;
}

#items>#item>.itemimg{width: 100%;}
.colorreview>.color>span{
    width: 10px; height: 10px;
    display: inline-block;
    border: 1px solid #DBDBDB;
}

.iteminfo{
    text-align: left;
}

.iteminfo>.colorreview{
    display: flex; justify-content: space-between;
    margin: 5px 0px;
}

.colorreview>.review{color:#999999;}
.iteminfo>.itemname{margin: 5px 0px;}
.itemname>.size{
    font-size: 10px; color: #999999; margin: 1px 0px;
}
.iteminfo>.itemprice{position: relative; margin: 5px 0px;}
.itemprice>.discount{
    position: absolute; right:0px; top:0px;
    font-size: 15px; color: red; font-weight: bold;
}

.itemprice>.price{
    text-decoration: line-through;
    color: #999999;
}
#items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1600px;
    margin: 0 auto;
}

