
*{box-sizing: border-box;}
a{text-decoration: none; color: black;}
li{list-style-type: none;}

#header>ul{
    display: flex; justify-content: flex-end;
    padding: 5px; margin: 0 auto;
    border-bottom: 2px solid lightgrey;
    font-size: 12px;
}

.top>li{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
}

.icon{
    padding-left: 20px;
}

.logo{
    padding: 50px;
}

#bottom{
    display: flex;
    margin: 0 auto;
    align-items: center;
}

#bottom>ul{
    display: flex;
    padding: 30px;
}

.menu>li{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
}

.made{
    position: relative;
}

.bigsize{
    position: relative;
}

.submenu{
    position: absolute;
    padding: 5px;
    display: none;
    background-color: grey;
    width: 100px; height: 100px;
    padding-top: 30px;
}

.made:hover .submenu{display: block;}
.bigsize:hover .submenu{display: block;}

.text{
    border: 1px solid white;
    border-bottom: 1px solid black;
}
.search>img{
    width: 20px; height: 20px;
}

.mainimg>img{
    width: 100%
}

#main>.mainimg{width: 100%;}

#main>.title{
    text-align: center;
}

.comment{
    text-align: center;
    font-size: 10px;
    margin: 20px 0px;
    color: #999999;
}

#items> #item{
    width: 380px; margin: 20px 0px;
}

#items>#item>.itemimg{width: 100%;}
.colorreview>.color>span{
    width: 10px; height: 10px;
    display: inline-block;
    border: 1px solid #DBDBDB;
}

.iteminfo{
    text-align: left;
}

.iteminfo>.colorreview{
    display: flex; justify-content: space-between;
    margin: 5px 0px;
}

.colorreview>.review{color:#999999;}
.iteminfo>.itemname{margin: 5px 0px;}
.itemname>.size{
    font-size: 12px; color: #999999; margin: 1px 0px;
}
.iteminfo>.itemprice{position: relative; margin: 5px 0px;}
.itemprice>.discount{
    position: absolute; right:0px; top:0px;
    font-size: 15px; color: red; font-weight: bold;
}

.itemprice>.price{
    text-decoration: line-through;
    color: #999999;
}
#items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}