
.basictable{
    width: 500px;
    border: 1px solid grey;
}

.basictable th, .basictable td{
    border: 1px solid grey;
    padding: 10px;
}

/* 형제선택자 */
.basictable td:nth-child(1){background-color: lightblue;}
.basictable td:nth-child(2){text-align: center;}

/* 속성선택자 */
.basictable td[colspan]{text-align: right;}

.styletable{
    width: 700px;
    border-collapse: collapse; /* 이중 테두리를 하나의 테두리로 병합 */
}

.styletable th, .styletable td{
    border: 1px solid grey;
    padding: 5px;
}

.styletable>tbody>tr:nth-of-type(odd){
    background-color: lightgrey;
}

.styletable>tbody>tr:hover{
    background-color: grey; color: white;
}