
/* [1] 만약에 width, height 생략 시 상위 요소 크기를 따라간다. 100% */

.box{
    border: 1px solid grey;
    padding: 10px; margin-bottom: 100px;
}

.size1{width: 200px; height: 500px;}

/* [2] 최소 사이즈 */

/* 화면이 600px 보다 크면 100%, 작으면 600px 고정 */
.size2{min-width: 600px;}

/* 내용의 높이가 100px 보다 크면 100%, 작으면 100px 고정 */
.size3{width: 200px; min-height: 100px;}

/* [3] 확대 사이즈 */
.size4{max-width: 600px;} /* 화면이 600px 보다 크면 600px 고정, 작으면 100% */
.size5{max-height: 100px;} /* 내용의 높이가 100px 보다 크면 100px 고정, 작으면 100% */

/* [4] 만약에 하위 요소의 컨텐츠/내용이 부모 요소의 크기가 크면/넘치면 */
.size6{width: 500px; height: 200px; overflow: visible;} /* visible(기본값) 그대로 보여줌 */
.size7{width: 500px; height: 200px; overflow: hidden;} /* hidden 내용이 넘치면 숨김 */
.size8{width: 500px; height: 200px; overflow: scroll;} /* scroll 항상 스크롤 */
.size9{width: 500px; height: 200px; overflow: auto;} /* auto 내용이 넘쳤을 때만 스크롤 */
.size10{width: 500px; height: 200px; overflow-y: scroll; overflow-x: hidden;} 
/* overflow-y : 세로축설정 overflow-x : 가로축설정 */