#wrap{
    width: 960px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 10px 10px #eeeeee;
    padding: 50px;
}

#top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 50px; padding: 50px 0px;
}

#top>input, #top>select{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #eeeeee;
}

#top>button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
