
/* ctrl+/ = 주석처리 */
h5{color: orange;}

/*  1. 전체 선택자 */
*{font-size: 20px;} /* 글꼴크기 px(단위) */
/* 2. 마크업 선택자 */
h6{font-size: 15px;}
/* 3. 클래스 선택자 : 동일한 마크업 간의 식별화 */
.개그맨{font-size: 10px;}
/* 4. 아이디 선택자 : 동일한 마크업 간의 유일한 식별자 */
#주민등록번호{font-size: 5px;}
/* 5. 다중 선택자 : ,쉼표로 구분 */
h4, h5{font-family: 궁서;}
/* 6. 자식 선택자 : 상위선택자 > 하위선택자 */ 
div> h3{font-family: 맑은고딕;}
/* 7. 자손 선택자 : 상위선택자 하위모든선택자 */
div h4{font-family: 굴림;}