
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}



.title{
    font-family: 'Pretendard';
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: 2px;
    input{background-color: darkseagreen;}
} /* 강의명, 만족도조사 */

.content{
    text-align: center;
    font-family: 'Pretendard';
    font-size: 15px;
    font-weight: lighter;
    font-style: normal;
} /* 만족도 조사 질문 내용 */

.writer{
    text-align: center;
    font-family: 'Pretendard';
    font-size: 20px;
    color: red;
} /* 건의사항 */
