*{
    margin:0px; padding: 0px;
}

#wrap{
    margin: 0 auto;
    width: 100%; height: 950px;
    background-color: #eeeeee;
}

.common{
    font-size: 13px;
    margin-top: 10px;
}

#team>h3, .register>h3, .memberlist>h3, .dayoffreq>h3, .dayofflist>h3{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
}

#wrap>h1{padding: 20px;}
#wrap>h1, #wrap>h6{text-align: center;}

#wrap>p{
    text-align: center;
    font-size: 12px;
}

#wwrap{
    display: flex;
    justify-content: center;
}

#team, #member, #dayoff{
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
}

#team, #dayoff{width: 250px;}

.teamname, .membername, .position, .teamselect,
.dayoffreq>select, .dayoffreq input, .dayoffreqdate input{
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 10px;
}


#team>.add{
    background-color: darkviolet;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
}

#team>table, .memberlist>table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

#team>table th, .memberlist>table th{
    background-color: #eeeeee;
    color: grey;
    font-size: 13px;
    padding: 5px;
}
#team>table td, .memberlist>table td{
    padding: 5px;
    border-bottom: 1px solid #eeeeee;
    font-size: 13px;
}

#team>table button, .memberlist>table button{
    background-color: white;
    border: none;
}

#team>table .update{
    margin-left: 90px;
}

#team>table .update, .memberlist>table .update{color: blue; font-size: 12px;}
#team>table .delete, .memberlist>table .delete{color: red; font-size: 12px;}

.img{border: none;}

#member{width: 550px;}

.membername, .position {width: 230px;}
.teamname {width: 160px; margin-top: 10px;}
.teamselect {width: 250px;}
.blank{width: 220px;}

.side1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.side2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.register>button{
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
    margin-left: 480px;
}

.memberlist{
    text-align: center;
    margin-top: 30px;
}

.memberlist>table img{
    border-radius: 10px;
    width: 80px;
}

.memberlist>h3{text-align: left; margin-left: 5px;}

.dayoffreqdate{
    display: flex;
    justify-content: space-between;
}

.dayoffreq>select{width: 240px;}
.dayoffreq{width: 240px;}
.dayoffreqdate input{width: 90px;}

.dayoffreq>button{
    background-color: darkcyan;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 185px;
}


.mj, .sy{
    background-color: #eeeeee;
    border-radius: 10px;
    font-size: 13px;
    width: 230px; height: 60px;
    margin-top: 10px;
    padding: 10px;
    
}

.mj2, .sy2{
    display: flex;
    justify-content: space-between;
}

.mj2 button, .sy2 button{
    width: 60px; height: 25px;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    background-color: grey;
    color: white;
}

.named{
    font-weight: bold;
}