
*{padding: 0px; margin: 0px;} /* 기본 여백 제거 */

li{list-style-type: none;}
#header{background-color: beige;}
#header>ul{display: flex; justify-content: center;}
.menu{
    padding: 10px 20px;
    position: relative;
}

.submenu{
    position: absolute; /* 상위요소 기준으로 위치 설정 */
    top: 40px; left: 8px;
    padding: 5px;
    background-color: beige;
    display: none; /* 배치 방법 : none 보이지 않음 */
}

/* 만일 menu에 hover(마우스 올렸을 때) */  
.menu:hover .submenu{display: block;}

#header2{background-color: skyblue;}
#header2>ul{
    display: flex; justify-content: center;
    position: relative; /* 하위 요소의 위치 기준점 */
}
#header2>ul>li{padding: 10px;}

.submenu2{
    position: absolute; /* 가장 가까운 부모가 position 기준 */
    width: 100%;
    background-color: skyblue;
    top: 40px;
    display: none;
}

#header2>ul:hover .submenu2{display: block;}