
a{text-decoration: none; color: black;}

/* [1]  선택자:hover 해당 요소에 마우스를 올렸을 때 */
a:hover{color: red; font-size: 20px;}

/* [2] 선택자:visited 브라우저 내 방문한 적이 있는 링크일 때 */
a:visited{color: blue;}

/* [3] 선택자:active 해당 요소를 클릭했을 때 */
a:active{color: yellow; font-size: 30px;}

/* [4] 선택자::before/after HTML에는 존재하지 않지만 가상의 요소(content)추가 가능 */
.box1::before{
    content:"[가상요소 before 구역]";
    color: rgb(84, 65, 255);
}

.box1::after{
    content:"[가상요소 after 구역]";
    color: rgb(9, 95, 255);
}

/* [활용1] 글머리 */
li{list-style-type: none;}
.box2>li::before{content:"⁑"; color: rgb(73, 108, 206)}

/* [활용2] 글머리2 */ 
.box2>li::after{content:url("헬로키티.jpg");}

/* [5] nth-of-type(순서번호) 선택자의 요소가 여러 개일때 번호로 선택하기 */
.box2>li:nth-of-type(1) {
    color: rgb(92, 136, 255);
}