
li{list-style-type: none;}

.menu{
    position: relative;
}

.submenu{
    position: absolute;
    display: none;
    right: 20px; top: 800px;
}

.menu:hover .submenu{display: block;}

.button{
    width: 100px; height: 100px;
    border-radius: 999px;
    background-color: black; color: white;
    font-size: 80px;
    position: fixed;
    right: 20px; bottom: 20px;
}