
*{
    box-sizing: content-box;
    font-family: 나눔고딕;
    font-size: 12px;
    padding: 0px; margin: 0px; /* 기본 여백 제거*/
}

a{ /* a 마크업 기본 css 제거*/
    text-decoration: none;
    color: black;
}

li{ /* 푸터 글머리 제거 */
    list-style-type: none;
}


/* header */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px; margin: 0 auto;
}

#header .top-menu{ /* 선택자A 선택자B : 자손선택자*/
    display: flex;
    justify-content: flex-end;
}

#header .top-menu li a{
    margin-left: 5px;
}

#header .main-menu{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

#header .main-menu li a{
    margin-left: 30px;
    font-size: 20px; font-weight: bold;
}

/* main */
#main{
    display: flex;
    justify-content: space-between;
    width: 1280px; margin: 20px auto; 
}

/* sidebar*/
#sidebar{width: 220px;}
#sidebar>h3{
    background-color: grey; color: white;
    padding: 10px;
    font-size: 20px;
}

#sidebar>ol>li{
    padding: 15px;
    border-bottom: 1px solid #eeeeee;
}

/* content */
#content{
    width: 1030px;
}
#content>h3{
    font-size: 20px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#content>img{
    display: block;
    margin: 0 auto;
}

#content>p{
    font-size: 15px;
}

#content>ul>li{
    font-size: 15px;
}

/* footer */
#footer{
    background-color: #2c2a29;
    color: white;
}

#footerinner{
    display: flex;
    justify-content: space-between;
    width: 1280px; margin: 0 auto;
    padding: 20px;
}