
/* 전체 선택자 */
*{
    border: solid 3px red; /* 테두리 : 선종류 선굵기 색상*/
    padding: 10px; /* 안쪽 여백 */
}

/* 클래스 선택자 */
.경기도{
    /* 테두리 */
    border-top: solid 1px orange ;
    border-right: dotted 2px blue;
    border-bottom: dashed 3px black;
    border-left: double 4px green;
    border-radius: 10px 15px 20px 25px; /* 둥근 모서리 (시계 방향)*/
    box-shadow: 3px 3px 2px red;
    width: 500px;
    height: 500px;
    text-align: center; /* 마크업 안에 있는 컨텐츠 가로 정렬*/
}

.안양시{
    padding-top: 20px; /* 안쪽 여백 */
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 50px;
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.만안구{
    /* 가로 사이즈 고정, 만약생략시 100px */
    width: 200px;
    padding: 10px; margin: 10px;
    box-sizing: border-box; /* 구역 표기 : content+border boxiing */
    box-sizing: content-box; /* 구역 크기(기본값) */
    margin: 0 auto ; /* 바깥 여백 이용한 구역 가로 가운데 정렬 */
    /* 0:위아래 여백없음,  auto:왼쪽오른쪽 자동 */
    /* 주의할 점 : width가 100% 이거나 생략시 불가능*/
    background-color: pink; /* 배경색 */
}

/* input, img 정렬 주의 : 상위요소 정렬*/
.사진{
    width: 50px;
    text-align: center; /* 불가능 */
}

.input{
    width: 100px;
    margin: 0 auto; /* 불가능 */
}