/* 작업용 */
*{
    border: solid 1px crimson;
    margin: 10px;
}

.s1{
    display: inline;
    width: 100px; height: 100px; /* 사이즈 불가능 */
    margin: 50px; padding: 20px; /* 인/오/안쪽 여백만 가능*/
} 

.s2{
    display: block;
    width: 100px; height: 100px; /* 사이즈 가능 */
    margin: 20px; padding: 20px; /* 여백 가능 */
}

.s3{
    display: inline-block;
    width: 100px; height: 100px; /* 사이즈 가능 */
    margin: 50px; padding: 50px;
}

.s4{
    display: none;
}