
*{
    box-sizing: border-box; 
    width: 400px;
}
a{text-decoration: none; color: black;}
li{list-style-type: none;}

#setting{
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px 0px;
}

#setting>a{
    width: 30px; height: 30px;
}

#setting>a>svg{
    width: 20px; height: 20px;
    fill:grey
}

.submenu1{
    display: flex;
    padding: 20px 45px;
}

.one,.two{
    width: 150px;
    margin-right: 30px;
}
.one>a,.two>a{
    display: flex;
    align-items: center;
    padding: 5px;
}
.one>a>img,.two>a>img{
    width: 40px; height: 40px;
}
.one>a>p,.two>a>p{
    margin-left: 10px;
    font-size: 14px;
}

.submenu2{
    background-color: #f5fefc;
    padding: 10px;
}

.submenu2>a{
    font-size: 14px;
}

.submenu2>a>p{
    padding-left: 30px;
}
