*{padding: 0px; margin: 0px;}
a{text-decoration: none; color: black;}
li{list-style-type: none;}

body{background-color: white;}

.pc1{
    width: 414px; height: 945px;
    position: relative ;
}

.wrap{
    display: flex;
    justify-content: space-evenly;
    width: 100%; height: 100%;
}

#setting{
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0px;
    padding-bottom: 20px;
}

#setting>a{
    width: 20px; height: 20px;
    margin: 5px 10px;
}

#setting>a>svg{
    width: 20px; height: 20px;
    fill:grey
}

.submenu1{
    display: flex;
    justify-content: space-evenly;
}

.one,.two{
    width: 100px;
    margin: 10px;
}
.one>a,.two>a{
    display: flex;
    padding-bottom: 15px;
}
.one>a>img,.two>a>img{
    width: 30px; height: 30px;
}
.one>a>p,.two>a>p{
    margin: 5px;
    font-size: 12px;
}

.submenu2{
    background-color: #f5fefc;
}

.submenu2>a{
    font-size: 12px;
    margin: 1px;
}

.submenu2>a>p{
    padding-left: 30px;
}

.pc2{ 
  padding: 90px 0px 0px 30px;
  width: 300px;
  height: 832px;
}

.right1{ 
  text-align: center;
  padding: 20px 0px ;
}

.right2{ 
  display: flex;
  margin-bottom: 30px;
}
.right3{
   display: flex;
   justify-content: space-between;
}
.right4{
  padding-top: 20px;
}

.right2 > ul > li{ margin-top: 20px; font-size: 18px;}